{% extends "layout.html" %}
{% block content %}
<article class="media content-section">
	<div class="table-responsive">          
		<div class="table table-striped">
			{% for detail in details%}
    			<form action="{{ url_for('sendsms') }}" method="post">
        			<tbody>
           				<tr>
          					<th><input type="text" name="username" value={{ detail.username }} required></th>
          					<th><input type="text" name="phonenumber" value={{ detail.phonenumber }} required></th>
          					<th><input type="submit" name="button" class="btn btn-success" value="Send Request"></th>
          				</tr>
        			</tbody>
    			</form>
        	{% endfor %}
		</div>
	</div>
</article>
{% endblock content %}